@import "tailwindcss";

@theme {
  /* Mengatur ulang variabel font utama Tailwind */
  --font-sans: var(--font-jost), ui-sans-serif, system-ui, sans-serif;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
}

[data-scroll-container] {
    perspective: 1px;
}

:root {
  font-family: var(--font-jost), sans-serif;
}
body {
  font-family: var(--font-jost), sans-serif !important;


}

.font-sans {
  font-family: var(--font-jost), sans-serif;
}

.passport {
  z-index: 4;

  background-color: #f2f1e8;
  background-image:
    linear-gradient(#ffffffa6, #ffffffa6),
    url("https://cdn.prod.website-files.com/64a24a477b774d01d169b819/64a25c6b93ad13ce30aa73d1_background-texture.jpg");

  background-size: auto, 45vw;
  background-repeat: repeat;
  background-position: center;
}


.boardingpass {
  z-index: 5;
  background-image:
    linear-gradient(#ffffffcc, #ffffffcc),
    url("https://cdn.prod.website-files.com/64a24a477b774d01d169b819/64a25c6b93ad13ce30aa73d1_background-texture.jpg");
  background-size: auto, 40vw;
  background-repeat: repeat;
  background-color: #f2f1e8;
}


